{%extends 'core/base.html'%}
{%load static%}
{%block content%}
	<!-- Gallery Section -->
	<section class="page-title">
		<div class="auto-container">
			<!-- Title Box -->
			<div class="title-box">
				<h1>Gallery</h1>
				<ul class="page-breadcrumb">
					<li><a href="{% url 'home' %}">Home</a></li>
					<li>Gallery</li>
				</ul>
			</div>
				<div class="styled-border">
				</div>				
			<div class="row clearfix">
				
				<!-- Project Block -->
				{%for gallery in galleries%}
				<div class="project-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="{{gallery.image.url}}" alt="" />
							<!-- Overlay Box -->
							<div class="overlay-box">
								<div class="overlay-inner">
									<div class="overlay-content">
										<div class="content">
											<h6><a href="{{gallery.image.url}}"data-fancybox="gallery-3">{{gallery.name}}</a></h6>
											<div class="category">{{gallery.feature}}</div>
											<a class="plus" href="{{gallery.image.url}}" data-fancybox="gallery-3" data-caption=""><span class="flaticon-plus-symbol"></span></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				{%endfor%}
			</div>
			
			<!-- Lower Content -->
			<div class="lower-content">
				<div class="text">“ Bad design is Smoke, While good design is a mirror. ”</div>
				<h4>Steven Wilson</h4>
			</div>
			
		</div>
	</section>
	<!-- End Gallery Section -->
{%endblock%}