{%extends 'core/base.html'%}
{%load static%}
{% block title %}Trainer{% endblock %}

{%block content%}
	
	<!-- Page Title -->
	<section class="page-title">
		<div class="auto-container">
			<h1>Trainer</h1>
			<ul class="page-breadcrumb">
				<li><a href="index.html">Home</a></li>
				<li><a href="index.html">Trainers</a></li>
				<li>Trainer</li>
			</ul>
		</div>
	</section>
	<!-- End Page Title -->
	{%for trainer in trainers%}
	<!-- About Section -->
	<section class="about-section">
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Image Column -->
				<div class="image-column col-lg-6 col-md-12 xol-sm-12">
					<div class="inner-column">
						<div class="image">
							<img src="{{trainer.image.url}}" alt="" />
						</div>
					</div>
				</div>
				
				<!-- Content Column -->
				<div class="content-column col-lg-6 col-md-12 xol-sm-12">
					<div class="inner-column">
						<h3>{{trainer.name}}</h3>
						<br>
						<div class="text">
							<p>{{trainer.content|safe}}</p>
						</div>
					</div>
				</div>
				
			</div>
			
			<!-- Social Icon Two -->
			<ul class="social-icon-two">
				{%if trainer.facebook%}
				<li><a href="{{trainer.facebook}}"><span class="fa fa-facebook"></span></a></li>
				{%endif%}
				{%if trainer.twitter%}
				<li><a href="{{trainer.twitter}}"><span class="fa fa-twitter"></span></a></li>
				{%endif%}
				{%if trainer.linkedin%}
				<li><a href="{{trainer.linkedin}}"><span class="fa fa-linkedin"></span></a></li>
				{%endif%}
				{%if trainer.instagram%}
				<li><a href="{{trainer.instagram}}"><span class="fa fa-instagram"></span></a></li>
				{%endif%}
			</ul>
	
		</div>
	</section>
	<!-- End About Section -->
	{%endfor%}
	<!-- Skrill Section -->
	<section class="skrill-section">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title">
				<h6>My Skills</h6>
			</div>

			<!--Skills-->
			{%for trainer in trainers%}
			<div class="skills">
				
				<div class="row clearfix">
					
					<!--Skill Item-->
					<div class="skill-item column col-lg-4 col-md-6 col-sm-12">
						<div class="skill-bar">
							<div class="bar-inner">
								<div class="skill-header clearfix">
									<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="{{trainer.crossfit}}">0</span>%</div></div>
									<div class="skill-title">CrossFit</div>
								</div>
								<div class="bar progress-line" data-width="{{trainer.crossfit}}"></div>
							</div>
						</div>
					</div>
					
					<!--Skill Item-->
					<div class="skill-item column col-lg-4 col-md-6 col-sm-12">
						<div class="skill-bar">
							<div class="bar-inner">
								<div class="skill-header clearfix">
									<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="{{trainer.yoga}}">0</span>%</div></div>
									<div class="skill-title">Yoga</div>
								</div>
								<div class="bar progress-line" data-width="{{trainer.yoga}}"></div>
							</div>
						</div>
					</div>
					
					<!--Skill Item-->
					<div class="skill-item column col-lg-4 col-md-6 col-sm-12">
						<div class="skill-bar">
							<div class="bar-inner">
								<div class="skill-header clearfix">
									<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="{{trainer.step}}">0</span>%</div></div>
									<div class="skill-title">Step</div>
								</div>
								<div class="bar progress-line" data-width="{{trainer.step}}"></div>
							</div>
						</div>
					</div>
					
					<!--Skill Item-->
					<div class="skill-item column col-lg-4 col-md-6 col-sm-12">
						<div class="skill-bar">
							<div class="bar-inner">
								<div class="skill-header clearfix">
									<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="{{trainer.body}}">0</span>%</div></div>
									<div class="skill-title">Body Pump</div>
								</div>
								<div class="bar progress-line" data-width="{{trainer.body}}"></div>
							</div>
						</div>
					</div>
					
					<!--Skill Item-->
					<div class="skill-item column col-lg-4 col-md-6 col-sm-12">
						<div class="skill-bar">
							<div class="bar-inner">
								<div class="skill-header clearfix">
									<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="{{trainer.gap}}">0</span>%</div></div>
									<div class="skill-title">GAP</div>
								</div>
								<div class="bar progress-line" data-width="{{trainer.gap}}"></div>
							</div>
						</div>
					</div>
					
					<!--Skill Item-->
					<div class="skill-item column col-lg-4 col-md-6 col-sm-12">
						<div class="skill-bar">
							<div class="bar-inner">
								<div class="skill-header clearfix">
									<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="{{trainer.spinning}}">0</span>%</div></div>
									<div class="skill-title">Spinning</div>
								</div>
								<div class="bar progress-line" data-width="{{trainer.spinning}}"></div>
							</div>
						</div>
					</div>
					
				</div>
				
			</div>
			{%endfor%}
			
		</div>
	</section>
	{%endblock%}