{%extends 'core/base.html'%}
{%load static%}

{%block content%}
	
	<!-- Page Title -->
	<section class="page-title">
		<div class="auto-container">
			<h1>Blog</h1>
			<ul class="page-breadcrumb">
				<li><a href="index.html">home</a></li>
				<li>Blog</li>
			</ul>
		</div>
	</section>
	<!-- End Page Title -->
	
	<!--Sidebar Page-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
				
				<!--Content Side-->
                <div class="content-side col-lg-8 col-md-12 col-sm-12">
                    <div class="blog-sidebar">
						<div class="row clearfix">
							{%for post in posts%}
							<!-- News Block -->
							<div class="news-block col-lg-6 col-md-6 col-sm-12">
								<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
									<div class="image">
										<a href="{% url 'post' post.id%}"><img src="{{post.image_thumbnail.url}}" alt="" /></a>
										<div class="content-box">
											<div class="category">{%for category in post.categories.all%}{{category.name}}{%if not forloop.last%}-{%endif%}{%endfor%}</div>
											<h4><a href="{% url 'post' post.id%}">{{post.title}}</a></h4>
											<div class="post-date">{{post.created}}</div>
											<a href="{% url 'post' post.id%}" class="theme-btn btn-style-one">continue reading <span class="arrow flaticon-next-3"></span></a>
										</div>
									</div>
								</div>
							</div>
							{%endfor%}
							
							
						</div>
						
						<!--Styled Pagination-->
						<div class="text-left">
							<ul class="styled-pagination">
								{%if post.has_previous%}
								<li class="prev"><a href="?page={{ post.previous_page_number }}"><span class="fa fa-angle-left"></span> &nbsp; Previous</a></li>
								{%endif%}
								<span>{{ post.number }}</span>
								<span>of</span>
								<span>{{ post.paginator.num_pages }}</span>							  
								{%if post.has_next%}
								<li class="next"><a href="?page={{ post.next_page_number }}">Next &nbsp; <span class="fa fa-angle-right"></span></a></li>
								<li class="next"><a href="?page={{ post.paginator.num_pages }}">Last &nbsp; <span class="fa fa-angle-right"></span></a></li>
								{%endif%}
							</ul>
						</div>
						<!--End Styled Pagination-->
						
					</div>
				</div>
				
				<!--Sidebar-->
                <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                    <aside class="sidebar">
						
						<!-- Popular Posts -->
                        <div class="sidebar-widget popular-posts">
                        	<div class="sidebar-title">
                            	<h3>latest posts</h3>
                            </div>
                            <div class="widget-content">

								{%for post in posts reversed%}
								{%if post.id < 4%}
								<article class="post">
									<figure class="post-thumb"><a href="{% url 'post' post.id %}"><img src="{{post.image.url}}" alt=""></a></figure>
                                    <div class="post-info">{{post.created}}</div>
									<div class="text"><a href="{% url 'post' post.id %}">{{post.title}}</a></div>
                                </article>
								
								{%endif%}
								{%endfor%}

							</div>
                        </div>
                        
                        <!-- Category Widget -->
                        <div class="sidebar-widget category-widget">
                        	<div class="sidebar-title">
                            	<h3>Category</h3>
							</div>
							{%for post in posts%}
							{%for category in post.categories.all%}
                            <div class="widget-content">
								<ul>
									<li><a href="{% url 'category' category.id%}">{{category.name}}</a></li>
								</ul>
							</div>
							{%endfor%}
							{%endfor%}
						</div>
					</aside>
				</div>
				
			</div>
		</div>
	</div>
{%endblock%}