{%extends 'core/base.html'%}
{%load static%}

{%block content%}
	<!-- Page Title -->
	<section class="page-title">
		<div class="auto-container">
			<h1>Categories</h1>
			<ul class="page-breadcrumb">
				<li><a href="index.html">Home</a></li>
				<li><a href="index.html">Blog</a></li>
				<li>Categories</li>
			</ul>
		</div>
	</section>
	<!-- End Page Title -->
	
	<!--Sidebar Page-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
				
				<!--Content Side-->
				{%for post in category.get_posts.all%}
                <div class="content-side col-lg-8 col-md-12 col-sm-12">
                    <div class="blog-details">
						<div class="inner-box">
							<div class="image">
								<img src="{{post.image.url}}" alt="" />
							</div>
							<div class="lower-content">
								<ul class="category">
									<li>
									{%for category in post.categories.all%}
									<a href="#">{{category.name}}{%if not forloop.last%}-{%endif%}</a>
									</li>
									{%endfor%}
									<li>{{post.created}}</li>
								</ul>
								<h4>{{post.title}}</h4>
								<div class="text">
									<p>{{post.content}}</p>
								</div>
							</div>
						</div>
					</div>	
					{%endfor%}
						
						<!-- Comment Form con este form cambiar el contact us -->
						<div class="comment-form">
							<div class="group-title"><h4>Leave a comment</h4></div>
							<!-- Contact Form -->
							<div class="contact-form">
									
								<!--Contact Form-->
								<form method="post" action="blog.html">
									<div class="row clearfix">
									
										<div class="column col-lg-6 col-md-12 col-sm-12">
											
											<div class="form-group">
												<span class="icon fa fa-user"></span>
												<input type="text" name="username" placeholder="Name" required>
											</div>
											
											<div class="form-group">
												<span class="icon fa fa-envelope-o"></span>
												<input type="email" name="email" placeholder="Email" required>
											</div>
											
											<div class="form-group">
												<span class="icon fa fa-link"></span>
												<input type="text" name="website" placeholder="Website" required>
											</div>
											
										</div>
										
										<div class="column col-lg-6 col-md-12 col-sm-12">
											
											<div class="form-group">
												<textarea name="message" placeholder="Massage"></textarea>
											</div>
											
											<div class="form-group">
												<button class="theme-btn submit-btn comment-btn" type="submit" name="submit-form">Post comment</button>
											</div>
											
										</div>
									
										
										
									</div>
								</form>
									
							</div>
							<!--End contact Form -->
						</div>
						
					</div>
				</div>
				
				<!--Sidebar-->
                <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                    <aside class="sidebar">
						
						<!-- Popular Posts -->
                        <div class="sidebar-widget popular-posts">
                        	<div class="sidebar-title">
                            	<h3>latest posts</h3>
                            </div>
                            <div class="widget-content">

								<article class="post">
                                    <figure class="post-thumb"><a href="blog-single.html"><img src="images/resource/post-thumb-1.jpg" alt=""></a></figure>
                                    <div class="post-info">18.09.2018</div>
                                    <div class="text"><a href="blog-single.html">Design solutions <br> for any media.</a></div>
                                </article>
    
                                <article class="post">
                                    <figure class="post-thumb"><a href="blog-single.html"><img src="images/resource/post-thumb-2.jpg" alt=""></a></figure>
                                    <div class="post-info">18.09.2018</div>
                                    <div class="text"><a href="blog-single.html">Design solutions <br> for any media.</a></div>
                                </article>
                                
                                <article class="post">
                                    <figure class="post-thumb"><a href="blog-single.html"><img src="images/resource/post-thumb-3.jpg" alt=""></a></figure>
                                    <div class="post-info">18.09.2018</div>
                                    <div class="text"><a href="blog-single.html">Design solutions <br> for any media.</a></div>
                                </article>

							</div>
                        </div>
                        
                        <!-- Category Widget -->
                        <div class="sidebar-widget category-widget">
                        	<div class="sidebar-title">
                            	<h3>Category</h3>
							</div>
							{%for post in posts%}
							{%for category in post.categories.all%}
                            <div class="widget-content">
								<ul>
									<li><a href="{% url 'category' category.id%}">{{category.name}}</a></li>
								</ul>
							</div>
							{%endfor%}
							{%endfor%}
						</div>
						
						<!-- Instagram Widget -->
                        <div class="sidebar-widget instagram-widget">
                        	<div class="sidebar-title">
                            	<h3>instagram</h3>
                            </div>
                            <div class="widget-content">
                            	<div class="images-outer clearfix">
									<!--Image Box-->
									<figure class="image-box"><a href="images/gallery/1.jpg" class="instagram-image" data-caption="" data-fancybox="images" title="Image Title Here" data-fancybox-group="footer-gallery"><span class="overlay-box flaticon-plus"></span></a>
									<img src="images/gallery/instagram-1.jpg" alt=""></figure>
									<!--Image Box-->
									<figure class="image-box"><a href="images/gallery/2.jpg" class="instagram-image" data-caption="" data-fancybox="images" title="Image Title Here" data-fancybox-group="footer-gallery"><span class="overlay-box flaticon-plus"></span></a>
									<img src="images/gallery/instagram-2.jpg" alt=""></figure>
									<!--Image Box-->
									<figure class="image-box"><a href="images/gallery/3.jpg" class="instagram-image" data-caption="" data-fancybox="images" title="Image Title Here" data-fancybox-group="footer-gallery"><span class="overlay-box flaticon-plus"></span></a>
									<img src="images/gallery/instagram-3.jpg" alt=""></figure>
									<!--Image Box-->
									<figure class="image-box"><a href="images/gallery/4.jpg" class="instagram-image" data-caption="" data-fancybox="images" title="Image Title Here" data-fancybox-group="footer-gallery"><span class="overlay-box flaticon-plus"></span></a>
									<img src="images/gallery/instagram-4.jpg" alt=""></figure>
									<!--Image Box-->
									<figure class="image-box"><a href="images/gallery/5.jpg" class="instagram-image" data-caption="" data-fancybox="images" title="Image Title Here" data-fancybox-group="footer-gallery"><span class="overlay-box flaticon-plus"></span></a>
									<img src="images/gallery/instagram-5.jpg" alt=""></figure>
									<!--Image Box-->
									<figure class="image-box"><a href="images/gallery/6.jpg" class="instagram-image" data-caption="" data-fancybox="images" title="Image Title Here" data-fancybox-group="footer-gallery"><span class="overlay-box flaticon-plus"></span></a>
									<img src="images/gallery/instagram-6.jpg" alt=""></figure>
									<!--Image Box-->
									<figure class="image-box"><a href="images/gallery/7.jpg" class="instagram-image" data-caption="" data-fancybox="images" title="Image Title Here" data-fancybox-group="footer-gallery"><span class="overlay-box flaticon-plus"></span></a>
									<img src="images/gallery/instagram-7.jpg" alt=""></figure>
									<!--Image Box-->
									<figure class="image-box"><a href="images/gallery/8.jpg" class="instagram-image" data-caption="" data-fancybox="images" title="Image Title Here" data-fancybox-group="footer-gallery"><span class="overlay-box flaticon-plus"></span></a>
									<img src="images/gallery/instagram-8.jpg" alt=""></figure>
								</div>
							</div>
						</div>
						
					</aside>
				</div>
			</div>
		</div>
	</div>
{%endblock%}