{%extends 'core/base.html'%}
{%load static%}
{% block title %}Post{% endblock %}

{%block content%}
	
	<!-- Page Title -->
	{%for post in posts%}
	<section class="page-title">
		<div class="auto-container">
			<h1>{{post.title}}</h1>
			<ul class="page-breadcrumb">
				<li><a href="{% url 'home' %}">Home</a></li>
				<li><a href="{% url 'blog' %}">Blog</a></li>
				<li>Post</li>
			</ul>
		</div>
	</section>
	{%endfor%}
	<!-- End Page Title -->
	
	<!--Sidebar Page-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
				{%for post in posts%}
				<!--Content Side-->
                <div class="content-side col-lg-8 col-md-12 col-sm-12">
                    <div class="blog-details">
						<div class="inner-box">
							<div class="image">
								<img src="{{post.image.url}}" alt="" />
							</div>
							<div class="lower-content">
								<ul class="category">
									<li class="page-breadcrumb">
										{%for category in post.categories.all%}
										<a href="{% url 'category' category.id%}" >
											{{category.name}}{%if not forloop.last%} - {%endif%}
										</a>
										{%endfor%}
									</li>
									<li>{{post.created}}</li>
								</ul>
								
								<div class="text">
									<p>{{post.content|safe}}</p>	
								</div>
							</div>
						</div>
					</div>
				</div>
				{%endfor%}
				<!--Sidebar-->
                <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                    <aside class="sidebar">
						
						<!-- Popular Posts -->
                        <div class="sidebar-widget popular-posts">
                        	<div class="sidebar-title">
                            	<h3>latest posts</h3>
                            </div>
                            <div class="widget-content">

									{%for post in last%}
									<article class="post">
										<figure class="post-thumb"><a href="{% url 'post' post.id %}"><img src="{{post.image_thumbnail.url}}" alt=""></a></figure>
										<div class="post-info">{{post.created}}</div>
										<div class="text"><a href="{% url 'post' post.id %}">{{post.title}}</a></div>
									</article>
									{%endfor%}
							</div>
                        </div>
                        
                        <!-- Category Widget -->
                        <div class="sidebar-widget category-widget">
                        	<div class="sidebar-title">
                            	<h3>Category</h3>
                            </div>
                            {%for post in categoria%}
                            <div class="widget-content">
								<ul>
									<li><a href="{% url 'category' post.id%}">{{post.name}}</a></li>
								</ul>
							</div>
							{%endfor%}
						</div>
					</aside>
				</div>
			</div>
		</div>
	</div>
{%endblock%}