{%extends 'core/base.html'%}
{%load static%}

{%block content%}
	<!-- Page Title -->
	<section class="page-title">
		<div class="auto-container">
			<h1>Products</h1>
			<ul class="page-breadcrumb">
				<li><a href="index.html">home</a></li>
				<li>Products</li>
			</ul>
		</div>
	</section>
	<!-- End Page Title -->
	
	<!-- Shop Page Section -->
	<section class="shop-page-section">
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Shop Item -->
				<div class="shop-item col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="{% static 'core/images/resource/products/1.jpg' %}" alt= ""/>
							<!-- Overlay Box -->
							<div class="overlay-box">
								<div class="overlay-inner">
									<h4><a href="shop-single.html">Woo Product</a></h4>
									<div class="price">$390.99</div>
									<ul class="product-list">
										<li><a href="shop-single.html"><span class="icon flaticon-add-cart"></span></a></li>
										<li><a href="shop-single.html"><span class="icon flaticon-heart"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Shop Item -->
				<div class="shop-item col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="{% static 'core/images/resource/products/2.jpg' %}" alt= ""/>
							<!-- Overlay Box -->
							<div class="overlay-box">
								<div class="overlay-inner">
									<h4><a href="shop-single.html">Woo Product</a></h4>
									<div class="price">$390.99</div>
									<ul class="product-list">
										<li><a href="shop-single.html"><span class="icon flaticon-add-cart"></span></a></li>
										<li><a href="shop-single.html"><span class="icon flaticon-heart"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Shop Item -->
				<div class="shop-item col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="{% static 'core/images/resource/products/3.jpg' %}" alt= ""/>
							<!-- Overlay Box -->
							<div class="overlay-box">
								<div class="overlay-inner">
									<h4><a href="shop-single.html">Woo Product</a></h4>
									<div class="price">$390.99</div>
									<ul class="product-list">
										<li><a href="shop-single.html"><span class="icon flaticon-add-cart"></span></a></li>
										<li><a href="shop-single.html"><span class="icon flaticon-heart"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Shop Item -->
				<div class="shop-item col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="{% static 'core/images/resource/products/4.jpg' %}" alt= ""/>
							<!-- Overlay Box -->
							<div class="overlay-box">
								<div class="overlay-inner">
									<h4><a href="shop-single.html">Woo Product</a></h4>
									<div class="price">$390.99</div>
									<ul class="product-list">
										<li><a href="shop-single.html"><span class="icon flaticon-add-cart"></span></a></li>
										<li><a href="shop-single.html"><span class="icon flaticon-heart"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Shop Item -->
				<div class="shop-item col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="{% static 'core/images/resource/products/5.jpg' %}" alt= ""/>
							<!-- Overlay Box -->
							<div class="overlay-box">
								<div class="overlay-inner">
									<h4><a href="shop-single.html">Woo Product</a></h4>
									<div class="price">$390.99</div>
									<ul class="product-list">
										<li><a href="shop-single.html"><span class="icon flaticon-add-cart"></span></a></li>
										<li><a href="shop-single.html"><span class="icon flaticon-heart"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Shop Item -->
				<div class="shop-item col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="{% static 'core/images/resource/products/6.jpg' %}" alt= ""/>
							<!-- Overlay Box -->
							<div class="overlay-box">
								<div class="overlay-inner">
									<h4><a href="shop-single.html">Woo Product</a></h4>
									<div class="price">$390.99</div>
									<ul class="product-list">
										<li><a href="shop-single.html"><span class="icon flaticon-add-cart"></span></a></li>
										<li><a href="shop-single.html"><span class="icon flaticon-heart"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Shop Item -->
				<div class="shop-item col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="{% static 'core/images/resource/products/7.jpg' %}" alt= ""/>
							<!-- Overlay Box -->
							<div class="overlay-box">
								<div class="overlay-inner">
									<h4><a href="shop-single.html">Woo Product</a></h4>
									<div class="price">$390.99</div>
									<ul class="product-list">
										<li><a href="shop-single.html"><span class="icon flaticon-add-cart"></span></a></li>
										<li><a href="shop-single.html"><span class="icon flaticon-heart"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Shop Item -->
				<div class="shop-item col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="{% static 'core/images/resource/products/8.jpg' %}" alt= ""/>
							<!-- Overlay Box -->
							<div class="overlay-box">
								<div class="overlay-inner">
									<h4><a href="shop-single.html">Woo Product</a></h4>
									<div class="price">$390.99</div>
									<ul class="product-list">
										<li><a href="shop-single.html"><span class="icon flaticon-add-cart"></span></a></li>
										<li><a href="shop-single.html"><span class="icon flaticon-heart"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Shop Item -->
				<div class="shop-item col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="{% static 'core/images/resource/products/1.jpg' %}" alt= ""/>
							<!-- Overlay Box -->
							<div class="overlay-box">
								<div class="overlay-inner">
									<h4><a href="shop-single.html">Woo Product</a></h4>
									<div class="price">$390.99</div>
									<ul class="product-list">
										<li><a href="shop-single.html"><span class="icon flaticon-add-cart"></span></a></li>
										<li><a href="shop-single.html"><span class="icon flaticon-heart"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Shop Page Section -->
{%endblock%}